/* @import bubbles from "./images/BUBBLES.gif" */

#cup {
  border-top: 100px solid rgba(84, 148, 147, 0.228);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 50px;
  position: relative;
/* overflow: hidden; */
}

#cup:before {
  content: url('./images/BUBBLES.gif');
  height: 150px;
  position: absolute;
  bottom: -150px;
  left: 0px;
}

#bubbles {
  height: 150px;
  position: absolute;
  bottom: -150px;
  left: 0px;
}