.App {
  text-align: center;
}
h2 {
  font-size: 5rem;
  font-weight: bold ;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.time-container {
  width: 50%  
}

@media screen and (min-width: 462px) {
.time-container {
  width: 25% 
}

}
.time-value {
font-size: 3rem;
}